@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: white;
  background-color: #000; /* 🔥 full noir Netflix */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background: rgb(24, 148, 49);
  min-height: 100vh;
}

/* 🔗 Liens */
a {
  font-weight: 500;
  color: #127a339b; /* 🔥 rouge Netflix */
  text-decoration: none;
}

a:hover {
  color: #31ff2a00;
}

/* 🎬 Titres */
h1, h2, h3 {
  margin: 0;
}

/* 🎥 Scroll horizontal Netflix */
::-webkit-scrollbar {
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 10px;
}

/* 🎞️ Effet zoom images */
img {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

img:hover {
  transform: scale(1.05);
}

/* 🎬 Fade smooth pour changement d'affiche */
.hero-image {
  transition: opacity 0.4s ease-in-out;
}

/* ❌ On supprime le mode light (inutile ici) */